<br>
<%= form_with(model: [:admin,@user], local: true) do |form| %>
  <div class="user_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="user_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="user_password">
   <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <div class="admin">
    <%= form.label :admin %>
    <%= form.select :admin, [false, true] %>
  </div>
  <%= form.submit value: "aaa", class: "mt-3 btn btn-primary" %>
<% end %>